@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
.database-plugin__html {
  box-sizing: border-box;
}

.database-plugin,
.database-plugin:before,
.database-plugin:after {
  box-sizing: inherit;
  overflow-x: auto;
}

.database-plugin {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

.transition-fade-enter {
  opacity: 0;
}

.transition-fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.transition-fade-exit {
  opacity: 1;
}

.transition-fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.svg-icon svg {
  position: relative;
  display: block;
  height: 1.5em;
  width: 1.5em;
}

.svg-text svg {
  stroke: var(--text-faint);
}

.sort-button .svg-text svg {
  stroke: var(--text-muted);
}

.svg-180 svg {
  transform: rotate(180deg);
}

.database-plugin__form-input {
  padding: 0.375rem;
  background-color: var(--background-primary);
  border: none;
  border-radius: 4px;
  font-size: 0.875rem;
  color: var(--text-normal);
}

.database-plugin__form-input:focus {
  outline: none;
  box-shadow: 0 0 1px 2px var(--background-modifier-border);
}

.database-plugin__invalid-form{
  padding: 0.375rem;
  border: none;
  border-radius: 4px;
  font-size: 0.875rem;
  color: var(--text-error);
  background-color: var(--background-modifier-error);
}

.is-fullwidth {
  width: 100%;
}

.data-input {
  white-space: pre-wrap;
  border: none;
  padding: 0.5rem;
  color: var(--text-normal);
  font-size: 1rem;
  border-radius: 4px;
  resize: none;
  background-color: var(--background-primary);
  box-sizing: border-box;
  flex: 1 1 auto;
}

.data-input:hover {
  background-color: var(--background-secondary);
}

.data-input:focus {
  outline: none;
}


.database-plugin__md_cell {
  padding: 0.5rem;
}

.database-plugin__md_cell p {
  display: inline;
}


.svg-icon-sm svg {
  position: relative;
  height: 1.25em;
  width: 1.25em;
}

.svg-gray svg {
  stroke: var(--text-faint);
}

.option-input {
  width: 100%;
  font-size: 1rem;
  border: none;
  background-color: transparent;
}

.option-input:focus {
  outline: none;
}

.database-plugin__noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
  overflow: hidden;
}

.sort-button {
  padding: 0.25rem 0.75rem;
  margin: 0;
  width: 100%;
  background-color: transparent;
  font-size: 0.875rem;
  color: var(--text-muted);
  cursor: pointer;
  text-align: left;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.database-plugin__tr:last-child .database-plugin__td {
  border-bottom: 0;
}

.database-plugin__add-row {
  color: var(--text-accent);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  cursor: pointer;
}

.database-plugin__add-row:hover {
  background-color: var(--background-secondary);
  color: var(--text-accent-hover);
}

.database-plugin__add-row .database-plugin__td {
  border: none;
  background-color: transparent;
  color: var(--text-muted);

  flex-direction: row;
  align-items: center;
}

.database-plugin__th {
  color: var(--text-faint);
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
  background-color: var(--background-primary);
}

.database-plugin__th:hover {
  background-color: var(--background-secondary);
  color: var(--text-normal);
}

.database-plugin__th-content {
  overflow-x: hidden;
  text-overflow: ellipsis;
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.database-plugin__td {
  overflow: hidden;
  color: var(--text-normal);
  background-color: var(--background-primary);
  align-items: stretch;
  justify-content: center;
  padding: 0;
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
}

.database-plugin__td-content {
  display: block;
  align-items: center;
}

.database-plugin__table {
  border-spacing: 0;
  border-bottom: 1px solid var(--background-modifier-border);
  display: "flex";
}

.database-plugin__th:last-child {
  border-right: 0;
}

.database-plugin__td:last-child {
  border-right: 0;
}

.database-plugin__th,
.database-plugin__td {
  white-space: pre-wrap;
  margin: 0;
  border-bottom: 1px solid var(--background-modifier-border);
  border-right: 1px solid var(--background-modifier-border);
  position: relative;
}

.database-plugin__header-group,
.database-plugin__header {
  justify-content: space-between;
  background-color: var(--background-secondary);
}

.database-plugin__navbar {
  display: flex;
  flex: 1 0 auto;
}

.text-align-right {
  text-align: right;
}

.cell-padding {
  padding: 0.5rem;
}

.d-flex {
  display: flex;
}

.cursor-default {
  cursor: default;
}

.align-items-center {
  align-items: center;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.menu.database-plugin__popper {
  position: relative;
  padding: 0;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-margin {
  margin-right: 4px;
}

.font-weight-600 {
  font-weight: 600;
}

.font-size-75 {
  font-size: 0.75rem;
}

.flex-1 {
  flex: 1;
}

/**
*  Database Styles
*/
.dbfolder-table-container tr input {
  background: var(--background-modifier-box-shadow);
}

.draggable {
  top: auto !important;
  left: auto !important;
}

/*
*  Settings styles
*/
.configuration-section-container-developer {
  background-color: var(--background-modifier-error)
}

/*
*  React calendar styles
*/
.react-calendar {
  width: 350px;
  max-width: 100%;
  background: var(--background-primary);
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--background-secondary);
}

.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}

.react-calendar__month-view__days__day--weekend {
  color: var(--background-modifier-error);
}

.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #ffff76;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}

.react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}

.react-calendar__tile--active {
  background: #006edc;
  color: var(--background-primary);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}