.database-plugin__table {
  display: inline-block;
  border-spacing: 0;
}

.database-plugin__td,
.database-plugin__th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

.database-plugin__td {
    text-align: center;
}

.database-plugin__tr:nth-child(even) {
    background-color: #eee;
}

.database-plugin__th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

.database-plugin__th[scope="row"] {
    background-color: #d7d9f2;
}

caption {
    padding: 10px;
    caption-side: bottom;
}

.database-plugin__table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}